:root{
    --primary: #1B262C;
    --secondary: #0F4C75;
    --blueOne: #3282B8;
    --blueTwo:#BBE1FA;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

/*========================================== NAVBAR ====================================================*/

a:visited, a:link, a:hover, a:active {
    font-size: 18px;
    text-decoration:none;
}


.btn-pay-div a:hover {
    color: #fff;
}

.btn-pay-div a:link {
    color: var(--primary);
}

.btn-pay-div a:active {
    color: var(--primary);
}

.btn-pay-div a:visited {
    color: var(--primary);
}



.btn-opt a:link {
    color: white;
}

.btn-opt a:active {
    color: var(--primary);
}

.btn-opt a:hover {
    color: var(--blueTwo);
}

.btn-opt a:visited {
    color: #fff;
}

h2 {
    color: white;
    display: inline;
}

.navbar{
    width: 100%;
    max-height: 60px;
    background-color:var(--secondary);
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0px 10px 23px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 23px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 23px -13px rgba(0,0,0,0.75);
}

.navbar img {
    width: 25px;
    height: 45px;
    display: inline;
    margin:0 10px 10px 10px;
    padding: 0;
}

.navbar_r {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.btn-pay {
    display: inline;    
    border-radius: 10px;
    width: 180%;
    text-align: center;
    background-color: var(--blueTwo);
    font-weight: bold;
    padding: 2px 15px;

}

.btn-pay:hover {
    background-color: #fff;
}



.separator {
    border-style: none;
    border-right: solid #fff 1px;
    height: 30px;
}

/*========================================== END NAVBAR ====================================================*/

/*========================================== SLIDER ========================================================*/

.img-slider {
    margin-top: 0px;
}

.header__title-container {
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    width: 20%;
    margin: auto;
    position: relative;
    bottom: 25px;
    background: #fff;
    height: 50px;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.65);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.65);

}

.header__button {
    text-align: center;
    width: 100%;
}
  
 

/*========================================== END SLIDER =======================================================*/


/*========================================== SERVICES =========================================================*/



/*========================================== END SERVICES =====================================================*/